@keyframes info-ambient-fade {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.info-ambient-fade {
	animation: info-ambient-fade 2s ease-out forwards;
}

@keyframes league-embers {
	0% {
		transform: translate3d(0, 0, 0) scale(1);
		opacity: 0.7;
	}
	50% {
		transform: translate3d(0, -2%, 0) scale(1.1);
		opacity: 1;
	}
	100% {
		transform: translate3d(0, -4%, 0) scale(1.2);
		opacity: 0.7;
	}
}

.league-embers {
	animation: league-embers 8s ease-in-out infinite alternate;
}

@keyframes plan-relic-pop {
	0% {
		transform: scale(1);
	}
	60% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1.1);
	}
}

@keyframes plan-relic-unpop {
	0% {
		transform: scale(1.1);
	}
  60% {
    transform: scale(1.2);
  }
	100% {
		transform: scale(1);
	}
}

@keyframes plan-relic-settle {
	0% {
		transform: scale(1);
    opacity: .6;
	}
	100% {
		transform: scale(0.6);
    opacity: 0.35;
	}
}

.plan-relic-node {
	transform: scale(1);
	will-change: transform, opacity;
}

.plan-relic-node-selected {
	animation: plan-relic-pop 400ms cubic-bezier(0.22, 1, 0.36, 1);
	transform: scale(1.1);
}

.plan-relic-node-deselecting {
	animation: plan-relic-unpop 400ms cubic-bezier(0.22, 1, 0.36, 1) forwards;
	transform: scale(1);
}

.plan-relic-node-unselected {
	animation: plan-relic-settle 400ms cubic-bezier(0.4, 0, 0.2, 1);
	transform: scale(0.6);
  opacity: 0.4;
}
